<div>
<div class="cheese1Text" style="display: table-row; padding: 5px">
  {{name}}
</div>
<img class="cheese1Button" src='../assets/cards/{{image || name + ".jpg"}}' width='547px' height='295px'>
<div style="display: table-cell">Rating:</div>
<div class="cheese1RatingSpan" style="display: table-cell; padding: 5px">
  {{rating}}
</div>
<div style="display: table-row"></div>
<div style="display: table-cell">Pros and Cons:</div>
<div class="cheese1prosandconsSpan" style="display: table-cell; padding: 5px">
{{prosandcons}}
</div>
</div>